* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -5px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

#workspaces button {
    margin: 5px 2px;
    padding: 0px 16px 4px 12px;
    background-color: #313244;
    color: #cdd6f4;
    box-shadow: inset 0 -5px #1e1e2e;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #313244;
}

#workspaces button.active {
    background-color: #313244;
    padding: 2px 16px 0px 12px;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.urgent {
    color: #fab387;
}

#battery {
    padding: 0px 8px 4px 7px;
    margin: 5px 2px;
    color: #1e1e2e;
    border-radius: 5;
    box-shadow: inset 0 -5px #1e1e2e;
}

#network {
    padding: 0px 12px 4px 7px;
    margin: 5px 2px;
    color: #1e1e2e;
    border-radius: 5;
    box-shadow: inset 0 -5px #1e1e2e;
}

#backlight,
#pulseaudio,
#clock {
    padding: 0px 8px 4px 8px;
    margin: 5px 2px;
    color: #1e1e2e;
    border-radius: 5;
    box-shadow: inset 0 -5px #1e1e2e;
}

#clock {
    background-color: #cba6f7;
    margin-right: 4px;
}

#clock.date {
    background-color: #f38ba8;
    margin-right: 4px;
}

#battery {
    background-color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    background-color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    background-color: #89b4fa;
}

#network {
    background-color: #f9e2af;
    margin-left: 4px;
}

#network.disconnected {
    background-color: #f38ba8;
}

#pulseaudio {
    background-color: #fab387;
}

#pulseaudio.muted {
    background-color: #313244;
    color: #cdd6f4;
}